<!DOCTYPE html>

<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="description" content="flask webapp">
    <meta name="author" content="JuliusNeudecker">
    <title>GoodGame Challenge</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


<section>
    <h1>Goodgame Coding Challenge</h1>
    <p>call /troops?[query] to get a random distribution of troops</p>
    <p>possible query parameters are:</p>
    <p>size=X, where X denotes the size of the desired army. Only integers equal or larger than {{ branches }} allowed.</p>
    <p>An example query might look like: /troops?size=4711</p>
</section>
